@model Subcategory
<!-- the asp-action Create below refers to teh POST version of the Create controller
 -->
<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="All"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Create new Subcategory</h2>
        </div>
        <div class="form-group row">
            <p class="text-info pl-3">You may create a new Sub Category of any Main Category</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-6">
                        @*<label asp-for="ImageUrl"></label>*@ Image feat. not yet implemented
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <input @*asp-for="ImageUrl"*@ class="form-control"  disabled/>
                        @*<span asp-validation-for="ImageUrl" class="text-danger"></span>*@
                    </div>
                </div>
                <!-- Evaluation and medications  -->
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Evaluation"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Medications"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <textarea asp-for="Evaluation" rows="4" cols="55" class="form-control"></textarea>
                        <span asp-validation-for="Evaluation" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <textarea asp-for="Medications" rows="4" cols="55" class="form-control"></textarea>
                        <span asp-validation-for="Medications" class="text-danger"></span>
                    </div>
                </div>
                <!-- Mangement and symptoms  -->
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Management"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Signs"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <textarea asp-for="Management" rows="4" cols="55" class="form-control"></textarea>
                        <span asp-validation-for="Management" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <textarea asp-for="Signs" rows="4" cols="55" class="form-control"></textarea>
                        <span asp-validation-for="Signs" class="text-danger"></span>
                    </div>
                </div>

                <!-- References and Main Category(disabled on Update)  -->
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="References"></label>
                    </div>
                    <div class="col-6">
                        <!--this one is visible on the C# class model for Subcategory but not on the Sql table-->
                        <label asp-for="SubId"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <textarea asp-for="References" rows="4" cols="55" class="form-control"></textarea>
                        <span asp-validation-for="References" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <select asp-for="SubId" asp-items="@ViewBag.MainKategoryListOfNames" class="form-control">
                            <option selected>--select main  category</option>
                        </select>
                        <span asp-validation-for="SubId" class="text-danger"></span>
                    </div>
                </div>

                <!-- Update and go back buttons  -->
                <div class="form-group row">
                    <div class="col-8 mx-auto row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-dark w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@*below is needed to validate on the front-end
    otherwise, it'll got to the back-end and try to update being less performance*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}